PORT=3000
DEBUG_REQUEST_HEADERS=false
UPSTREAM_TIMEOUT_MS=15000
SHUTDOWN_TIMEOUT_MS=10000
REMOTE_API_BASE=https://conferences.unite.un.org/untermapi/api/record/
API_BASE=https://metadata.un.org/unterm/
WEB_BASE=https://unterm.un.org/unterm2/view/
COUNTRIES_API_BASE=https://conferences.unite.un.org/untermapi/api/term/countries
